APP_ENV=development
HTTP_ADDR=:8080
POSTGRES_URL=postgres://cee4ai:cee4ai@localhost:5432/cee4ai?sslmode=disable
MIGRATIONS_DIR=./migrations
SEEDS_DIR=./seeds
RUN_MIGRATIONS_ON_BOOT=true
RUN_SEED_ON_BOOT=false
DB_STARTUP_RETRIES=20
DB_STARTUP_SLEEP_SECONDS=3
