APP_ENV={{ cee4ai_app_env }}
HTTP_ADDR=:8080
POSTGRES_URL=postgres://{{ cee4ai_postgres_user | urlencode }}:{{ cee4ai_postgres_password | urlencode }}@postgres:5432/{{ cee4ai_postgres_db | urlencode }}?sslmode=disable
MIGRATIONS_DIR=/app/migrations
SEEDS_DIR=/app/seeds
RUN_MIGRATIONS_ON_BOOT={{ cee4ai_run_migrations_on_boot | ternary('true', 'false') }}
RUN_SEED_ON_BOOT={{ cee4ai_run_seed_on_boot | ternary('true', 'false') }}
DB_STARTUP_RETRIES={{ cee4ai_db_startup_retries }}
DB_STARTUP_SLEEP_SECONDS={{ cee4ai_db_startup_sleep_seconds }}
POSTGRES_DB={{ cee4ai_postgres_db }}
POSTGRES_USER={{ cee4ai_postgres_user }}
POSTGRES_PASSWORD={{ cee4ai_postgres_password }}
